<a href="https://colab.research.google.com/github/mupungijose-hue/Data-Analysis-Projects/blob/main/Aggregating_%26_Reshaping_DataFrames.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Aggregating & Reshaping DataFrames**

In [ ]:
import pandas as pd
from google.colab import drive
drive.mount('/content/drive')
stores = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/stores.csv")

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
stores.sum()

store_nbr                                                 1485
city         QuitoQuitoQuitoQuitoSanto DomingoQuitoQuitoQui...
state        PichinchaPichinchaPichinchaPichinchaSanto Domi...
type         DDDDDDDDBCBCCCCCCBCBBCDDDDDEECBCCBCEDDBCDDEAAA...
cluster                                                    458
dtype: object

In [ ]:
stores.loc[:,['store_nbr','cluster']].sum()

store_nbr    1485
cluster       458
dtype: int64

In [ ]:
stores.loc[:,['store_nbr','cluster']].mean()

store_nbr    27.500000
cluster       8.481481
dtype: float64

In [ ]:
stores.loc[:,['store_nbr','cluster']].std()

store_nbr    15.732133
cluster       4.693395
dtype: float64

**Grouping Dataframes**

In [ ]:
stores.groupby("state")

In [ ]:
stores.groupby("state")[['cluster']].mean()

                                  cluster
state
Azuay                            3.333333
Bolivar                         15.000000
Chimborazo                       7.000000
Cotopaxi                        15.000000
El Oro                           3.500000
Esmeraldas                      10.000000
Guayas                           6.727273
Imbabura                        15.000000
Loja                             4.000000
Los Rios                         6.500000
Manabi                           9.000000
Pastaza                          7.000000
Pichincha                       10.631579
Santa Elena                      1.000000
Santo Domingo de los Tsachilas   4.333333
Tungurahua                      11.500000

In [ ]:
stores.groupby("state")[['cluster']].mean().sort_values('cluster', ascending = False)

                                  cluster
state
Bolivar                         15.000000
Cotopaxi                        15.000000
Imbabura                        15.000000
Tungurahua                      11.500000
Pichincha                       10.631579
Esmeraldas                      10.000000
Manabi                           9.000000
Chimborazo                       7.000000
Pastaza                          7.000000
Guayas                           6.727273
Los Rios                         6.500000
Santo Domingo de los Tsachilas   4.333333
Loja                             4.000000
El Oro                           3.500000
Azuay                            3.333333
Santa Elena                      1.000000

Grouping By Mulitiple **Columns**

In [ ]:
stores1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/stores.csv")

In [ ]:
stores.head()

   store_nbr           city                           state type  cluster
0          1          Quito                       Pichincha    D       13
1          2          Quito                       Pichincha    D       13
2          3          Quito                       Pichincha    D        8
3          4          Quito                       Pichincha    D        9
4          5  Santo Domingo  Santo Domingo de los Tsachilas    D        4

In [ ]:
stores.groupby("city")["cluster"].sum()

city
Ambato            23
Babahoyo          10
Cayambe            6
Cuenca            10
Daule              1
El Carmen          3
Esmeraldas        10
Guaranda          15
Guayaquil         60
Ibarra            15
Latacunga         30
Libertad          10
Loja               4
Machala            7
Manta             24
Playas             3
Puyo               7
Quevedo            3
Quito            196
Riobamba           7
Salinas            1
Santo Domingo     13
Name: cluster, dtype: int64

In [ ]:
stores.groupby(["city", "state"])[["cluster"]].sum()

                                              cluster
city          state
Ambato        Tungurahua                           23
Babahoyo      Los Rios                             10
Cayambe       Pichincha                             6
Cuenca        Azuay                                10
Daule         Guayas                                1
El Carmen     Manabi                                3
Esmeraldas    Esmeraldas                           10
Guaranda      Bolivar                              15
Guayaquil     Guayas                               60
Ibarra        Imbabura                             15
Latacunga     Cotopaxi                             30
Libertad      Guayas                               10
Loja          Loja                                  4
Machala       El Oro                                7
Manta         Manabi                               24
Playas        Guayas                                3
Puyo          Pastaza                               7
Quevedo       Los Rios                              3
Quito         Pichincha                           196
Riobamba      Chimborazo                            7
Salinas       Santa Elena                           1
Santo Domingo Santo Domingo de los Tsachilas       13

**Multi-Index Dataframes**

In [ ]:
import pandas as pd
product = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/product.csv")

In [ ]:
product.head()

,PRODUCT_ID,MANUFACTURER,DEPARTMENT,BRAND,COMMODITY_DESC,SUB_COMMODITY_DESC,CURR_SIZE_OF_PRODUCT
0,25671,2,GROCERY,National,FRZN ICE,ICE - CRUSHED/CUBED,22 LB
1,26081,2,MISC. TRANS.,National,NO COMMODITY DESCRIPTION,NO SUBCOMMODITY DESCRIPTION,
2,26093,69,PASTRY,Private,BREAD,BREAD:ITALIAN/FRENCH,
3,26190,69,GROCERY,Private,FRUIT - SHELF STABLE,APPLE SAUCE,50 OZ
4,26355,69,GROCERY,Private,COOKIES/CONES,SPECIALTY COOKIES,14 OZ

In [ ]:
product.groupby(["PRODUCT_ID", "BRAND"])[["MANUFACTURER"]].sum()

                     MANUFACTURER
PRODUCT_ID BRAND
25671      National             2
26081      National             2
26093      Private             69
26190      Private             69
26355      Private             69
...                           ...
18293142   National          6384
18293439   National          6393
18293696   National          6406
18294080   National          6442
18316298   National           764

[92353 rows x 1 columns]

In [ ]:
agg_product = product.groupby(["PRODUCT_ID", "BRAND"])[["MANUFACTURER"]].sum()

In [ ]:
agg_product.head()

                     MANUFACTURER
PRODUCT_ID BRAND
25671      National             2
26081      National             2
26093      Private             69
26190      Private             69
26355      Private             69

In [ ]:
agg_product.xs('National', level='BRAND')

            MANUFACTURER
PRODUCT_ID
25671                  2
26081                  2
26889                 32
27021                  2
28513                181
...                  ...
18293142            6384
18293439            6393
18293696            6406
18294080            6442
18316298             764

[78537 rows x 1 columns]

**Group By**

In [ ]:
import pandas as pd
transactions = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/transactions.csv")
transactions.head()

         date  store_nbr  transactions
0  2013-01-01         25           770
1  2013-01-02          1          2111
2  2013-01-02          2          2358
3  2013-01-02          3          3487
4  2013-01-02          4          1922

In [ ]:
transactions.groupby(['store_nbr'])['transactions'].sum()

store_nbr
1     2553963
2     3219901
3     5366350
4     2519007
5     2347877
6     3065896
7     2995993
8     4637971
9     3516162
10    1652493
11    3972488
12    1958852
13    1572504
14    2287850
15    2209898
16    1464498
17    2295485
18    2071278
19    2107489
20    1422539
21     842891
22     504156
23    1788171
24    3568206
25    1520362
26    1065059
27    2485687
28    1957594
29     981448
30    1171130
31    2306044
32    1065226
33    1743003
34    3864018
35    1123889
36    1738129
37    2481719
38    2867052
39    2389482
40    2181195
41    1764146
42     802646
43    2182356
44    7273093
45    6201115
46    5990113
47    6535810
48    5107785
49    4574103
50    4384444
51    2873614
52     275393
53    1180082
54    1451290
Name: transactions, dtype: int64

In [ ]:
transactions.groupby(['store_nbr'])['transactions'].sum().sort_index(ascending = False)

store_nbr
54    1451290
53    1180082
52     275393
51    2873614
50    4384444
49    4574103
48    5107785
47    6535810
46    5990113
45    6201115
44    7273093
43    2182356
42     802646
41    1764146
40    2181195
39    2389482
38    2867052
37    2481719
36    1738129
35    1123889
34    3864018
33    1743003
32    1065226
31    2306044
30    1171130
29     981448
28    1957594
27    2485687
26    1065059
25    1520362
24    3568206
23    1788171
22     504156
21     842891
20    1422539
19    2107489
18    2071278
17    2295485
16    1464498
15    2209898
14    2287850
13    1572504
12    1958852
11    3972488
10    1652493
9     3516162
8     4637971
7     2995993
6     3065896
5     2347877
4     2519007
3     5366350
2     3219901
1     2553963
Name: transactions, dtype: int64

In [ ]:
import pandas as pd
t1 = pd.read_csv("/content/drive/MyDrive/Colab Notebooks/section04_aggregations_solutions.ipynb")
section04_aggregations_solutions

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2