<a href="https://colab.research.google.com/github/mupungijose-hue/Data-Analysis-Projects/blob/main/section09_combining_dfs_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# Assignment 1: pd.Concat

Combine the 2014 and 2015 data you wrote out in the last section into a single dataframe.

Then delete the transactions DataFrame (there is a handy base Python keyword for this).

In [ ]:
# CSV

# Read in two csv files and concatenate them into a single DataFrame

transactions = pd.concat(
    (pd.read_csv("transactions_2014.csv"),
     pd.read_csv("transactions_2015.csv")),
).drop(["Unnamed: 0"], axis=1)

In [ ]:
# Excel

# Read in two Excel sheets and concatenate them into a single DataFrame

transactions = pd.concat(
    pd.read_excel("DataForChandler.xlsx", sheet_name=[1, 2]),  #  specify sheets 1 and 2 to grab correct years
    ignore_index=True  #  specify to create consecutive index across sheets
).drop(["Unnamed: 0"], axis=1)  #  drop index col

In [ ]:
# inspect head of df

transactions.head()

In [ ]:
# inspect tail of df

transactions.tail()

In [ ]:
# delete DataFrame from memory

del transactions

# Assignment 2: Joins

Can you join retail.csv with stores.csv? You'll need to read both files in.

Once you have that, plot:
* Total sales by city,
* The sum of sales by “type” over time,
* A stacked bar chart with average daily sales by type by month, with “type” as the “stacks”.

In [ ]:
retail = pd.read_csv("../retail/retail_2016_2017.csv", parse_dates=["date"])
stores = pd.read_csv("../retail/stores.csv")

In [ ]:
retail.head()

In [ ]:
stores.head()

In [ ]:
# Inner join stores to retail on 'store_nbr' column

retail_stores = retail.merge(stores,
                             how="inner",
                             left_on="store_nbr",
                             right_on="store_nbr"
                            )

In [ ]:
# Look at head of DataFrame to confirm Join as expected
retail_stores.head()

In [ ]:
# Look at info of joined DataFrame

retail_stores.info(memory_usage="deep")

In [ ]:
# Group joined DF by city, calculate sales by city, create bar plot from highest to lowest

(retail_stores
 .groupby(["city"])
 .agg({"sales": "sum"})
 .sort_values(by="sales", ascending=False
).plot.bar())

In [ ]:
# Create pivot table with date in index and type as column, cells are sum sales for type/day
# then create a line plot with increased figure size

retail_stores.pivot_table(
    index=["date"],
    columns="type",
    values="sales",
    aggfunc="sum"
).plot(figsize=(10, 10))

In [ ]:
# Create pivot table with type in index and month as column, cells are sum sales for type/day
# Note: You may have chosen row as month and type as column, that's fine too!

retail_stores.pivot_table(
    index="type",
    columns=retail_stores["date"].dt.month,
    values="sales",
    aggfunc="mean"
).T.plot.bar(stacked=True).legend(bbox_to_anchor=(1, 1)) # T, or transpose flips the DataFrame by its axes

In [ ]:
# Delete DataFrames used in join

del [retail, stores]

In [3]:
!git clone https://github.com/mupungijose-hue/Data-Analysis-Projects.git

Cloning into 'Data-Analysis-Projects'...
remote: Enumerating objects: 37, done.
remote: Counting objects: 100% (37/37), done.
remote: Compressing objects: 100% (36/36), done.
remote: Total 37 (delta 19), reused 0 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (37/37), 409.92 KiB | 11.08 MiB/s, done.
Resolving deltas: 100% (19/19), done.

In [4]:
%cd Data-Analysis-Projects

/content/Data-Analysis-Projects/Data-Analysis-Projects

In [5]:
!git add .
!git commit -m "Updated project"
!git push

Author identity unknown

*** Please tell me who you are.

Run

  git config --global user.email "you@example.com"
  git config --global user.name "Your Name"

to set your account's default identity.
Omit --global to set the identity only in this repository.

fatal: unable to auto-detect email address (got 'root@c3b143bc3314.(none)')
fatal: could not read Username for 'https://github.com': No such device or address